{% extends "base.html" %}
{% block content %}
<main>
    <div class="text-center display-4 mb-4">Сотрудник месяца</div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ worker.last_name }} {{ worker.name }} {{ worker.patronymic }}</h5>
            <div class="card-text">Должность: {{ worker.job }}</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Телефон: {{ worker.phone_number }}</li>
            <li class="list-group-item">Адрес: {{ worker.address }}</li>
            <li class="list-group-item">Email: {{ worker.email }}</li>
        </ul>
    </div>

</main>
{% endblock content %}
